.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  }
  
  .modalContent {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 300px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .modalContent button {
    width: 200px;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
  }

  .modalContent button:first-of-type {
    background-color: #2c7a7b;
    color: white;
  }

  .modalContent button:last-of-type {
    background-color: transparent;
    color: #907474;
    border: 1px solid #907474;
  }

  .modalContent button:hover {
    opacity: 0.8;
  }
  