.editDeviceModal .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    }
  
  .editDeviceModal .modalContent {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 300px;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  
  .editDeviceModal .deleteButton {
    width: 200px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #907474;
    background-color: transparent;
    border: 1px solid #907474;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
  }
  