body {
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #2C7A7B;
    color: #FFF;
    display: flex;
    align-items: center;
    padding-left: 95%;
    z-index: 10;
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.sideTab {
    position: absolute;
    top: 60px;
    left: 0;
    width: 60px;
    height: calc(100vh - 60px);
    background: #1d4044;
    z-index: 5;
}

.menuButton {
    width: 60px;
    height: 40px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menuButton.active {
    background: #365457;
}

.addButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 300px;
    height: 40px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #2c7a7b;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
.sideMenu {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 250px;
    height: calc(100vh - 60px);
    background: #F7FAFC;
    z-index: 10;
}

.mapContainer {
    position: absolute;
    top: 60px;
    left: 300px;
    right: 0;
    bottom: 0;
}
